{% extends "base.html" %}
{% set title='Add guild' %}

{% block content %}
    <h1>Add new guild</h1>
    <form action="{{ url_for('add_guild') }}" method="post" novalidate>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p> {{ form.status.label }} {{ form.status() }} </p>
        <p> {{ form.submit() }} </p>
    </form>
{% endblock %}