{% extends "base.html" %}
{% set title='Add conveyor' %}

{% block content %}
    <h1>Add new conveyor</h1>
    <form action="{{ url_for('add_conveyor') }}" method="post" novalidate>
        <input type="hidden" name="guild_id" value="{{guild_id}}" />
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p> {{ form.status.label }} {{ form.status() }} </p>
        <p> {{ form.submit() }} </p>
    </form>
{% endblock %}