<html>
    <head>
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>WebExample</title>
        {% endif %}
    </head>
    <body>
        <div><a href="/guild_list">Guildes</a></div>
        <div><a href="/conveyor_list">Conveyors</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
