{% extends "base.html" %}
{% set title=guild.name %}

{% block content %}
    <h1>Change guild</h1>
    <form action="/guild/{{ guild.id }}" method="put">
        <input type="hidden" name="_method" value="PUT"/>
        <input type="text" value="{{ guild.name }}" name="name"/> <br><br>
        Is active
        {% if guild.status %}
            <input type="checkbox" checked name="status">
        {% else %}
            <input type="checkbox" name="status">
        {% endif %} <br><br>
        <input type="submit" value="Save">
    </form>
{% endblock %}