{% extends "base.html" %}
{% set title='Guilds' %}

{% block content %}
    <h1>Conveyors</h1>
    {% for conveyor in conveyors %}
    <div><p>
        <div><a href="/conveyor/{{ conveyor.id }}"><b> {{ conveyor.name }} </b></a></div>
        {% if guild.status %}
            is work
        {% else %}
            isn't work
        {% endif %}
    </p></div>
    {% endfor %}
    <form action="/conveyor_form" method="GET">
        <input type="submit" value="Add new conveyor">
    </form>
{% endblock %}