{% extends "base.html" %}
{% set title='Guilds' %}

{% block content %}
    <h1>Guilds</h1>
    {% for guild in guilds %}
    <div><p>
        <div><a href="/guild/{{ guild.id }}"><b> {{ guild.name }} </b></a></div>
        {% if guild.status %}
            is work
        {% else %}
            isn't work
        {% endif %}
    </p></div>
    {% endfor %}
    <form action="/guild_form" method="GET">
        <input type="submit" value="Add new guild">
    </form>
{% endblock %}