{% extends "base.html" %}
{% set title=guild.name %}

{% block content %}
    {% if message|length != 0 %}
        <p> {{ message }} </p>
    {% endif %}
    <h1>{{ guild.name }}</h1>
    <div><p>
        <form action="/guild/{{ guild.id }}" method="patch">
            Status - 
            <input type="hidden" name="_method" value="PATCH" />
            {% if guild.status %}
                is work <input type="submit" value="Now isn't working"/>
            {% else %}
                isn't work <input type="submit" value="Now is working"/>
            {% endif %}
        </form>
        {% if conveyor %}
            Has conveyor - {{ conveyor.name }}
        {% else %}
            <form action="/conveyor_form" method="GET">
                Hasn't conveyor
                <input type="hidden" name="guild_id" value="{{guild.id}}" />
                <input type="submit" value="Add"/>
            </form> 
        {% endif %}
        <form action="/guild/{{ guild.id }}/change" method="GET">
            <input type="submit" value="Change">
        </form>
        <form action="/guild/{{ guild.id}}" method="delete">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete">
        </form>
    </p></div>
{% endblock %}

